<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Dinos Are Cool</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/dinosaurs">See all Dinos</a></li>
            <li><a href="/dinosaurs/new">New Dino Form</a></li>
            <li><a href="/prehistoric_creatures">See all Creatures</a></li>
            <li><a href="/prehistoric_creatures/new">New Dino Form</a></li>
        </ul>
    </nav>
    
